@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap');

* {
    width: 100% auto;
    height: 100% auto;
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kodchasan', sans-serif;
    overflow: scroll;
    overflow-x: hidden;
}
 
body {
  background-color: #1b1b1b;
}

::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}
    
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* sidebar */

.name-site {
  bottom: 40px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  transition: ease-out 0.4s;
}

.name-site:hover {
  background-image: linear-gradient(254deg, #0af37ff1, #08492b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.sidebar {
  display: flex;
  position: fixed;
  -webkit-box-shadow: 0 0 20px #0af37ff1;
  -moz-box-shadow: 0 0 20px #0af37ff1;
box-shadow:0 0 20px #0af37ff1;
}

.wrapper {
  background-color: rgba(31, 18, 44, 0.63);
  text-align: center;
  width: 230px;
  height: 770px;
  padding-top: 50px;
}

.nav-list {
  list-style-type: none;
  text-align: center;
}

.mini-bth {
  color: #219760;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  padding-top: 40px;
  position: relative;
  transition: ease-out 0.3s;
}

.mini-bth:hover {
  color: #1bdd83;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 380px
}

.button {
  background-color: rgb(53, 33, 73);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 25px;
  text-align: center;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}