@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap');

* {
    width: 100% auto;
    height: 100% auto;
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kodchasan', sans-serif;
    overflow: scroll;
    overflow-x: hidden;
}

body {
  background-color: #c9c7c7;
}
  
::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}
    
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.section{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100% auto;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.content-block {
    border: 2px solid black;
    border-radius: 25px;
    width: 400px;
    height: 300px;
    margin-top: 25px;
}

.title-site {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}

.details {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.login, .password {
    align-items: center;
    background-color: #1d1b31;
    border: none;
    border-radius: 25px;
    font-size: 19px;
    font-weight: 400;
    color: white;
    list-style-type: none;
    width: 200px;
    height: 30px;
    margin-top: 15px;
    outline-style: none;
    display: flex;
    text-align: center;
}

.button {
    border-radius: 10px;
    border: none;
    background-color: #1d1b31;
    color: #fff;
    width: 100px;
    height: 35px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    transition: ease-out 0.5s;
}

.button:hover {
  border-radius: 25px;
  background-color: #26243d;
}

.rotate {
    animation: rotation 8s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
.loader {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .stroke{
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite;
}
  @keyframes animate {
    50% {
      height: 20%;
      background: #4286f4;
    }

    100% {
      background: #4286f4;
      height: 100%;
    }
  }
  .stroke:nth-child(1){
      animation-delay: 0s;
  }
  .stroke:nth-child(2){
    animation-delay: 0.3s;
}
.stroke:nth-child(3){
    animation-delay: 0.6s;
}
.stroke:nth-child(4){
    animation-delay: 0.9s;
}
.stroke:nth-child(5){
    animation-delay: 0.6s;
}
.stroke:nth-child(6){
    animation-delay: 0.3s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}