@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap');

* {
    width: 100% auto;
    height: 100% auto;
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kodchasan', sans-serif;
    overflow: scroll;
    overflow-x: hidden;
}

body {
  background-color: #c9c7c7;
}
  
::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}
    
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* sidebar */

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.section{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100% auto;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .section{
  left: 250px;
  width: calc(100% - 250px);
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.sidebar li.log{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.log{
  width: 250px;
}
.sidebar li .log-ins{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar .log #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .log #log_out{
  width: 50px;
  background: none;
}

.playlist-container {
  border: 2px solid black;
  border-radius: 25px;
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

/* section */

.recom-track {
  border: 2px solid #11101d;
  border-radius: 20px;
  display:flex;
  width: 400px;
  height: 500px;
  margin-top: 150px;
  position: absolute;
}

/* audio-player */

.player {
  background-attachment: fixed;
  background-color: #11101d;
  align-content: center;
  border-radius: 25px;
  width: 600px;
  height: 100px;
  margin-top: 30px;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  transition: ease-out 0.3s;
}


.details {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  height: 100px;
}


.track-name {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.track-artist {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
}

.buttons {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 200px;
  margin-top: 65px;
  position: absolute;
}

.active{
    color: rgb(180, 180, 180);
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  font-size: 18px;
  padding: 10px;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.slider_volume_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  margin-left: 380px;
}

.seek_slider, .volume_slider {
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #03632e;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  cursor: grab;
  border-radius: 100%;
  border-radius: 359px;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  color:#fff;
  padding: 10px;
}

i.bx-volume-low,
i.bx-volume-full {
  color: #fff;
  padding: 10px;
}

i,
i.bx-play-circle,
i.bx-pause-circle,
i.bx-right-arrow-circle,
i.bx-left-arrow-circle,
p {
  cursor: pointer;
}
.randomActive{
    color: rgb(95, 255, 3);
}

/* section */

.block_content {
  display: flex;
  justify-content: flex-start;
  margin-top: 250px;
  padding-left: 250px;
}

.wrapper {
  border: 2px solid #11101d;
  width: 350px;
  height: 550px;
}

.title-block {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}

.content-music {
  text-align: center;
  background-color: #11101d;
  border-radius: 25px;
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  margin-left: 15px;
}

.nama-track, .name-artist {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}