<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="../static/CSS/style.css" th:href="@{/CSS/style.css}" rel="stylesheet" />
    <title th:text="${title}"/>
</head>
<body>
    
  <div class="sidebar">

    <div class="logo-details">
      <i class='bx bxs-music icon'></i>
        <div class="logo_name">World Music</div>
        <i class='bx bx-menu' id="btn" ></i>    
      </div>

    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Music Search</span>
      </li>
      
      <br>

      <li>
        <a href="/About">
          <i class='bx bx-info-circle'></i>
          <span class="links_name">About</span>
        </a>
         <span class="tooltip">About</span>
      </li>

      <li>
        <a href="/Contact">
          <i class="bx bxs-contact"></i>
          <span class="links_name">Contact</span>
        </a>
        <span class="tooltip">Contact</span>
      </li>

      <li>
        <a href="#rec-track">
          <i class='bx bx-like'></i>
          <span class="links_name">Recommendations</span>
        </a>
         <span class="tooltip">Recommendations</span>
      </li>

      <li class="log">
        <div class="log-ins">
            <a href="/login">
              <i class='bx bx-log-in'></i>
              <span class="links_name">Login</span>
            </a>
            <span class="tooltip">Login</span>
          </div>
    </li>

    </div>

    <div class="section">
              <div class="player">
                    <div class="details">
                        <div class="track-name">Track Name</div>
                        <div class="track-artist">Track Artist</div>
                    </div>
         
                    <div class="slider_container">
                        <div class="current-time">00:00</div>
                         <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
                         <div class="total-duration">00:00</div>
                    </div>
         
                    <div class="slider_volume_container">
                        <i class="bx bx-volume-low"></i>
                         <input type="range" min="1" max="100" value="99" class="volume_slider" onchange="setVolume()">
                         <i class="bx bx-volume-full"></i>
                    </div>
         
                    <div class="buttons">
                        <div class="random-track" onclick="randomTrack()">
                            <i class="bx bx-shuffle" title="random"></i>
                        </div>
                        <div class="prev-track" onclick="prevTrack()">
                             <i class="bx bx-left-arrow-circle"></i>
                         </div>
                         <div class="playpause-track" onclick="playpauseTrack()">
                             <i class="bx bx-play-circle"></i>
                         </div>
                         <div class="next-track" onclick="nextTrack()">
                             <i class="bx bx-right-arrow-circle"></i>
                         </div>
                         <div class="repeat-track" onclick="repeatTrack()">
                             <i class="bx bx-repeat" title="repeat"></i>
                         </div>
                    </div>
            </div>
          </div>

          

        <div class="block_content">
          <div class="wrapper">
            <div class="title-block">Best music World</div>
            <div class="content-music">
              <div class="nama-track">Track</div>
              <div class="name-artist">Artist</div>
            </div>
          </div>
        </div>

        <div class="playlist-contenir">
          
        </div>

    </div>
    <script type="text/javascript" th:src="@{/JavaScript/script.js}" src="../static/JavaScript/script.js"></script>
    <script type="text/javascript" th:src="@{/JavaScript/player.js}" src="../static/JavaScript/player.js"></script>
</body>
</html>