<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/CSS/login.css" th:href="@{/CSS/login.css}" rel="stylesheet" />
    <title th:text="${title}"/>
</head>
<body>
    <div class="section">

        <div class="wrapper">
            <div class="content-block">
                <div class="title-site">Log in / Register</div>
                <div class="details">
                    <input type="text" name="login" id="log" placeholder="login" class="login">
                    <input type="password" name="password" id="passw" placeholder="password" class="password">
                    <button type="submit" class="button">log-in</button>
                </div>
            </div>
        </div>

        <div id="wave">
            <span class="stroke"></span>
            <span class="stroke"></span>
            <span class="stroke"></span>
            <span class="stroke"></span>
            <span class="stroke"></span>
            <span class="stroke"></span>
            <span class="stroke"></span>
        </div>  

    </div>
</body>
</html>